@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap");
body {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.dark-background {
  z-index: 80;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.header-mobile {
  display: none;
  z-index: 666;
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
  bottom: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.header-mobile .icon {
  font-size: 24px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .header-mobile {
    display: flex;
    position: fixed;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}
.header .header-banner {
  height: 44px;
  width: 100%;
  background-color: #ffb300;
}
.header .header-section {
  background-color: #f7f7f7;
  padding: 10px 5%;
}
.header .section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 959px) {
  .header .section-wrapper {
    justify-content: center;
  }
}
.header .section-wrapper .shipping-infor {
  color: #797979;
  font-size: 14px;
}
@media only screen and (max-width: 959px) {
  .header .section-wrapper .shipping-infor {
    display: none;
  }
}
.header .section-wrapper .menu-section .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0 !important;
}
.header .section-wrapper .menu-section .menu .menu-item {
  display: inline-flex;
  align-items: center;
}
.header .section-wrapper .menu-section .menu .menu-item a {
  text-decoration: none;
  color: #797979;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
}
.header .section-wrapper .menu-section .menu .menu-item:hover a {
  color: #2F38BF;
}
.header .section-wrapper .menu-section .menu .open-submenu {
  position: relative;
}
.header .section-wrapper .menu-section .menu .open-submenu .submenu {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(1, 7, 39, 0.05);
  padding: 0;
  width: 220px;
}
.header .section-wrapper .menu-section .menu .open-submenu .submenu li a {
  color: #797979;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.header .section-wrapper .menu-section .menu .open-submenu .submenu li a:hover {
  color: #000;
}
.header .section-wrapper .menu-section .menu .open-submenu .submenu .submenu-item-1 {
  position: relative;
}
.header .section-wrapper .menu-section .menu .open-submenu .submenu .submenu-item-1 .submenu-2 {
  display: none;
  list-style: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 220px;
  padding: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(1, 7, 39, 0.05);
}
.header .section-wrapper .menu-section .menu .open-submenu .submenu .submenu-item-1 .submenu-2 li {
  cursor: pointer;
  color: #797979;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.header .section-wrapper .menu-section .menu .open-submenu .submenu .submenu-item-1 .submenu-2 li:hover {
  color: #000;
}
.header .section-wrapper .menu-section .menu .open-submenu .submenu .submenu-item-1:hover .submenu-2 {
  display: block;
}
.header .section-wrapper .menu-section .menu .open-submenu:hover .submenu {
  display: block;
}
.header .header-section-services {
  background-color: #fff;
  padding: 20px 5% 10px 5%;
  width: 100%;
  flex-wrap: nowrap;
}
.header .header-section-services .header-search {
  display: flex;
  align-items: center;
  width: 100%;
}
.header .header-section-services .header-search .logo {
  width: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.header .header-section-services .header-search .logo .sidebar-menu {
  display: none;
}
@media only screen and (max-width: 1110px) {
  .header .header-section-services .header-search .logo .sidebar-menu {
    display: block;
  }
}
.header .header-section-services .header-search .logo .sidebar-menu .nav-control {
  position: absolute;
  left: -9999px;
  width: 100%;
  clip: rect(0, 0, 0, 0);
}
.header .header-section-services .header-search .logo .sidebar-menu .nav-control:checked ~ .navigation {
  right: 0;
  opacity: 1;
  transition: right 1s, opacity 1s;
}
.header .header-section-services .header-search .logo .sidebar-menu .toggle-button i {
  font-size: 24px;
  color: #2927E9;
  margin-right: 10px;
}
.header .header-section-services .header-search .logo .sidebar-menu .navigation {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  overflow: hidden;
  transition: right 1s;
  width: 350px;
  height: 100vh;
  z-index: 100;
  display: flex;
  padding: 50px;
  align-items: center;
}
.header .header-section-services .header-search .logo .sidebar-menu .navigation label {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.5;
}
.header .header-section-services .header-search .logo .sidebar-menu .navigation label i {
  font-size: 24px;
}
.header .header-section-services .header-search .logo .sidebar-menu .navigation ul {
  list-style: none;
  margin: 0;
}
.header .header-section-services .header-search .logo .sidebar-menu .navigation ul li {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 20px;
}
.header .header-section-services .header-search .logo .sidebar-menu .navigation ul li img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.header .header-section-services .header-search .header-searchbar {
  width: auto;
  max-width: 100%;
  position: relative;
  margin: 0 5%;
  flex-grow: 1;
}
.header .header-section-services .header-search .header-searchbar i {
  position: absolute;
  left: 16px;
  top: 35%;
  z-index: 1;
  color: #2927E9;
}
.header .header-section-services .header-search .header-searchbar input {
  width: 100%;
  border-radius: 6px;
  border: #E7E7E7 1px solid;
  padding: 10px 10px 10px 40px;
}
.header .header-section-services .header-search .header-searchbar input::-moz-placeholder {
  color: #E7E7E7;
}
.header .header-section-services .header-search .header-searchbar input::placeholder {
  color: #E7E7E7;
}
.header .header-section-services .header-search .header-searchbar input:focus {
  background-color: #f7f7f7;
  border-color: #2927E9 !important;
  outline-offset: 0px !important;
  outline: none !important;
}
.header .header-section-services .header-search .header-searchbar input:focus::-moz-placeholder {
  color: #2927E9;
}
.header .header-section-services .header-search .header-searchbar input:focus::placeholder {
  color: #2927E9;
}
.header .header-section-services .header-search .header-services {
  display: flex;
  width: auto;
  max-width: 100%;
}
.header .header-section-services .header-search .header-services .service {
  cursor: pointer;
  display: flex;
  margin-left: 20px;
  position: relative;
}
.header .header-section-services .header-search .header-services .service:hover .content {
  color: #2927E9;
}
.header .header-section-services .header-search .header-services .service img {
  width: 24px;
  height: auto;
  z-index: 1;
}
.header .header-section-services .header-search .header-services .service .count {
  font-size: 11px;
  line-height: 1;
  text-align: center;
  padding: 3px;
  position: absolute;
  top: 0px;
  left: 16px;
  z-index: 2;
  border-radius: 50%;
  background-color: #2927E9;
  color: #FFF;
}
.header .header-section-services .header-search .header-services .service .content {
  margin-left: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #0B1A48;
}
.header .header-section-services .header-search .header-services .service .content span {
  color: #797979;
}
@media only screen and (max-width: 959px) {
  .header .header-section-services .header-search .header-services .support {
    display: none;
  }
}
.header .header-section-services .header-search .header-services .search-icon {
  display: none;
}
.header .header-section-services .header-search .header-services .search-icon i {
  font-size: 18px;
  color: #2927E9;
}
@media only screen and (max-width: 767px) {
  .header .header-section-services .header-search .header-services .search-icon {
    display: block;
  }
}
.header .header-navbar {
  padding: 10px 5% 0 5%;
  position: relative;
  background-color: #FFF;
}
@media only screen and (max-width: 1110px) {
  .header .header-navbar {
    display: none;
  }
}
.header .header-navbar .navbar-wrapper .menu-nav {
  display: flex;
  padding: 0;
  margin: 0;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item {
  cursor: pointer;
  position: unset;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  padding: 0 10px 18px 10px;
  color: #0B1A48;
  align-items: center;
  justify-content: center;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item img {
  margin-right: 5px;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item i {
  margin-left: 10px;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item, .header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item::after, .header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item::before {
  transition: all 0.5s;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item:hover {
  color: #2927E9;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item:hover .nav-content {
  display: block;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #2927E9;
  height: 3px;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item:hover::after {
  width: 100%;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item {
  transition: all 1s;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item::after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item:hover {
  color: #2927E9;
  z-index: 1;
}
.header .header-navbar .navbar-wrapper .menu-nav .menu-nav-item:hover::after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}
.header .header-navbar .nav-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFF;
  width: 100%;
  z-index: 100;
}
.header .header-navbar .nav-content.computer-menu:hover .nav-content {
  display: block;
}
.header .header-navbar .nav-content .wrapper-content {
  background-color: #fff;
  padding: 20px 5% 20px 5%;
}
.header .header-navbar .nav-content .wrapper-content .menu-content {
  display: flex;
  align-items: center;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .menu {
  list-style: none;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .menu li {
  cursor: pointer;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  border-bottom: 1px solid #E7E7E7;
  padding: 15px;
  color: #0B1A48;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .menu li:hover {
  color: #2927E9;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .menu li:last-child {
  border: none;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .bgr-logo {
  display: flex;
  justify-content: center;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .img-product {
  background-color: #f7f7f7;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .img-product .product-content h3,
.header .header-navbar .nav-content .wrapper-content .menu-content .img-product .product-content h5 {
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .img-product .product-content a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  background-color: #2927E9;
  color: #FFF;
  text-decoration: none;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .img-product .product-content a:hover {
  background-color: #120fbf;
}
.header .header-navbar .nav-content .wrapper-content .menu-content .img-product img {
  width: 40%;
}
@media only screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header .header-section {
    display: none;
  }
  .header .header-section-services .header-search {
    justify-content: space-around;
  }
  .header .header-section-services .header-search .header-searchbar {
    display: none;
  }
  .header .header-section-services .header-search .header-services .service .content {
    display: none;
  }
}

.main {
  background-color: #f7f7f7;
}
.main .wrapper {
  padding: 50px 0;
  margin: 0 5%;
}
.main .wrapper .title {
  margin-bottom: 20px;
}
.main .wrapper .title span {
  font-size: 42px;
  font-weight: 700;
}
.main .wrapper .content .filter-box .filter {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.main .wrapper .content .filter-box .filter .title p {
  font-size: 14px;
  font-weight: 500;
}
.main .wrapper .content .filter-box .range {
  border: none;
}
.main .wrapper .content .filter-box .range .slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .wrapper .content .filter-box .range .slider-wrapper input.text-input {
  width: 25%;
}
.main .wrapper .content .filter-box .range .slider-wrapper input.text-input::-webkit-outer-spin-button, .main .wrapper .content .filter-box .range .slider-wrapper input.text-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .wrapper .content .filter-box .range .slider-wrapper .price-slider {
  width: 45%;
}
.main .wrapper .content .filter-box .range .slider-wrapper .price-slider .range-slider {
  height: 5px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.main .wrapper .content .filter-box .range .slider-wrapper .price-slider .range-slider .range-selected {
  height: 100%;
  left: 0;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: #2927E9;
}
.main .wrapper .content .filter-box .range .slider-wrapper .price-slider .range-input {
  position: relative;
}
.main .wrapper .content .filter-box .range .slider-wrapper .price-slider .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.main .wrapper .content .filter-box .range .slider-wrapper .price-slider .range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
}
.main .wrapper .content .filter-box .range .slider-wrapper .price-slider .range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}
.main .wrapper .content .filter-box .color .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main .wrapper .content .filter-box .color .btn-wrapper .color-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  margin-right: 5px;
  flex-wrap: wrap;
}
.main .wrapper .content .filter-box .color .btn-wrapper .color-btn button {
  padding: 12px;
  border: none;
  border-radius: 50%;
}
.main .wrapper .content .filter-box .memory-size .group-checkbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main .wrapper .content .filter-box .memory-size .group-checkbox .checkbox label {
  text-transform: uppercase;
  border: 1px solid grey;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
  opacity: 0.5;
}
.main .wrapper .content .filter-box .screen-size .group-checkbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main .wrapper .content .filter-box .screen-size .group-checkbox .checkbox label {
  text-transform: uppercase;
  border: 1px solid grey;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  opacity: 0.5;
}
.main .wrapper .content .product-wrapper .sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .wrapper .content .product-wrapper .sort-wrapper .result-count p {
  opacity: 0.5;
}
@media only screen and (max-width: 767px) {
  .main .wrapper .content .product-wrapper .sort-wrapper .result-count {
    display: none;
  }
}
.main .wrapper .content .product-wrapper .sort-wrapper .sort-box {
  display: flex;
}
.main .wrapper .content .product-wrapper .sort-wrapper .sort-box .panigation-box {
  display: flex;
}
.main .wrapper .content .product-wrapper .sort-wrapper .sort-box .panigation-box ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 20px;
}
.main .wrapper .content .product-wrapper .sort-wrapper .sort-box .panigation-box ul li {
  margin-right: 10px;
}
@media only screen and (max-width: 767px) {
  .main .wrapper .content .product-wrapper .sort-wrapper .sort-box .panigation-box {
    display: none;
  }
}
.main .wrapper .content .product-wrapper .sort-wrapper .sort-box .grid-selects ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 20px;
}
.main .wrapper .content .product-wrapper .sort-wrapper .sort-box .grid-selects ul li {
  margin-right: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .main .wrapper .content .product-wrapper .sort-wrapper .sort-box .grid-selects {
    display: none;
  }
}
.main .wrapper .content .product-wrapper .sort-wrapper .sort-box .select-menu select {
  border: none;
  background-color: #f7f7f7;
}
.main .wrapper .content .product-wrapper .sort-wrapper .sort-box .select-menu select:focus-visible {
  border: none;
}
@media only screen and (max-width: 767px) {
  .main .wrapper .content .product-wrapper .sort-wrapper {
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
.main .wrapper .content .product-wrapper .products-box {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.main .wrapper .content .product-wrapper .products-box .product {
  background-color: #FFF;
  padding: 30px;
  border-radius: 16px;
  width: 30%;
  margin: 0 1% 20px;
}
.main .wrapper .content .product-wrapper .products-box .product .img img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.main .wrapper .content .product-wrapper .products-box .product .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .wrapper .content .product-wrapper .products-box .product .product-info span.name {
  font-size: 28px;
  font-weight: 500;
}
.main .wrapper .content .product-wrapper .products-box .product .product-info .rate {
  border-color: #2927E9;
}
.main .wrapper .content .product-wrapper .products-box .product .product-info .rate .checked {
  color: #2927E9;
}
.main .wrapper .content .product-wrapper .products-box .product .product-info span.price {
  color: #2927E9;
  font-size: 16px;
}
.main .wrapper .content .product-wrapper .products-box .product .product-info span.price span {
  text-decoration: line-through;
  opacity: 0.5;
  font-size: 80%;
  margin-right: 5px;
}
@media only screen and (max-width: 1064px) {
  .main .wrapper .content .product-wrapper .products-box .product {
    width: 48%;
  }
}
@media only screen and (max-width: 767px) {
  .main .wrapper .content .product-wrapper .products-box .product {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .main .wrapper .content .product-wrapper .products-box {
    display: flex !important;
  }
}
.main .wrapper .content .product-wrapper .products-listmode-box {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: #FFF;
  padding: 30px;
  border-radius: 16px;
  margin: 0 1% 20px;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product .img img {
  max-width: 100%;
  height: auto;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product .product-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product .product-info .name {
  font-size: 20px;
  font-weight: 700;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product .product-info .rate {
  border-color: #2927E9;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product .product-info .rate .checked {
  color: #2927E9;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product .product-info .price {
  color: #2927E9;
  font-size: 16px;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product .product-info .price span {
  text-decoration: line-through;
  opacity: 0.5;
  font-size: 80%;
  margin-right: 5px;
}
.main .wrapper .content .product-wrapper .products-listmode-box .product .product-info .detail {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .main .wrapper .content .product-wrapper .products-listmode-box {
    display: none !important;
  }
}
@media only screen and (max-width: 964px) {
  .main .wrapper .content {
    display: flex;
    flex-direction: column;
  }
  .main .wrapper .content .filter-box {
    width: 100%;
  }
  .main .wrapper .content .filter-box .range .slider-wrapper .text-input {
    width: 10% !important;
  }
  .main .wrapper .content .filter-box .range .slider-wrapper .price-slider {
    width: 75%;
  }
}

.footer .footer-wrapper {
  padding-top: 100px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}
.footer .footer-wrapper .contact-info-wrapper .phone {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}
.footer .footer-wrapper .contact-info-wrapper .phone .phone-img img {
  border-right: 1px solid #E6E6E6;
  margin-right: 15px;
  padding-right: 15px;
}
.footer .footer-wrapper .contact-info-wrapper .phone .phone-number p:first-child {
  font-size: 20px;
  color: #2927E9;
}
.footer .footer-wrapper .contact-info-wrapper .phone .phone-number p:last-child {
  font-size: 32px;
  font-weight: 500;
}
.footer .footer-wrapper .contact-info-wrapper .address {
  margin-bottom: 40px;
}
.footer .footer-wrapper .contact-info-wrapper .address p {
  font-size: 14px;
}
.footer .footer-wrapper .contact-info-wrapper .media-social {
  display: flex;
}
.footer .footer-wrapper .contact-info-wrapper .media-social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
  margin-right: 40px;
}
.footer .footer-wrapper .contact-info-wrapper .media-social .icon i {
  margin: auto;
  font-size: 20px;
}
.footer .footer-wrapper .contact-info-wrapper .media-social .icon:hover {
  border-color: #2927E9;
  transition: all 0.4s ease-in-out;
}
.footer .footer-wrapper .contact-info-wrapper .media-social .icon:hover i {
  color: #2927E9;
  transition: all 0.4s ease-in-out;
}
.footer .footer-wrapper .services-wrapper .column {
  display: flex;
  flex-direction: column;
}
.footer .footer-wrapper .services-wrapper .column p {
  font-size: 14px;
  color: #2927E9;
}
.footer .footer-wrapper .services-wrapper .column a {
  text-decoration: none;
  color: #0B1A48;
  margin-bottom: 20px;
}
.footer .footer-wrapper .services-wrapper .column a:hover {
  color: #2927E9;
}
@media only screen and (max-width: 992px) {
  .footer .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-wrapper .contact-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-wrapper .services-wrapper {
    padding: 50px;
  }
  .footer .footer-wrapper .services-wrapper .column {
    align-items: center;
  }
}
.footer .cerfiticate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer .cerfiticate p {
  font-size: 14px;
  margin: 0;
}
.footer .cerfiticate p span {
  color: #2927E9;
}
@media only screen and (max-width: 767px) {
  .footer {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */